@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AdirSemiBold;
  src: url(/assets/fonts/AdirSemiBold.otf);
}

* {
  font-family: AdirSemiBold;
  user-select: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ededed;
}

.app {
  padding: 1rem;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked {
  
}