@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AdirSemiBold;
  src: url(/assets/fonts/AdirSemiBold.otf);
}

* {
  font-family: AdirSemiBold;
  user-select: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ededed;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center left;
}

.app {
  padding: 1rem;
  margin-top: 4rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

input[type=radio] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
}

input[type=radio]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #000;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

input[type=radio]:checked::before {
    transform: scale(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cartBtn {
  position: relative;
  background-color: #76489c;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px 0 rgba(76, 76, 76, 0.2);
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -14px;
  color: #fff;
  font-size: 18px;
  background-color: #E4C048;
  width: 25px;
  height: 25px;
  padding: 1px;
  border-radius: 50%;
}

@media (min-width: 600px) {
  body {
    background-size: 60%;
  }
}

@media (max-width: 599px ) and (min-width: 444px) {
  body {
    background-size: 75%;
  }
}


@keyframes shakeCart {
  25% {
    transform:translateX(6px);
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}


.checkoutBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkoutForm h1 {
  color: #E4C048;
}

.checkoutForm {
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,.2);
}

.checkoutForm input {
  outline-color: #E4C048;
}

.cartItems::-webkit-scrollbar {
  width: 10px; /* You can set this to any value you want */
}

.cartItems::-webkit-scrollbar-thumb {
  background-color: #E4C048;
  border-radius: 10px;
}

.cartItems::-webkit-scrollbar-track {
  background-color: #76489c;
  border-radius: 10px;
}


.activePage {
  color: #E4C048;
  background-color: #76489c;
  border-radius: 8px;
  box-shadow: inset 0 0 10px 0 rgba(76, 76, 76, 0.2);
}